{% include 'partials/header.html' %}

<br><br>
<div class="container">
    <a href="/todos">
        <span class="glyphicon glyphicon-arrow-left btn-lg"></span>
        Go Back
    </a>
    <h2>Add new todo</h2>
    <p>Please add title and description for the new job!</p>
    <form action="{% url 'add' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="title">Title:</label>
            <input type="text" class="form-control" id="title" name="title">
        </div>
        <div class="form-group">
            <label for="des">Description:</label>
            <textarea class="form-control" rows="3" id="des" name="text"></textarea>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>

{% include 'partials/footer.html' %}